body, html {
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  overflow: hidden; /* Hide scrollbars */

}
.bg { 
  background-image: url("../img/bg-img.jpg");
  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Open Sans', sans-serif;
  color: white;
}
.top {
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 1%;
  vertical-align: middle;
}
.middle {
  text-align: center;
  font-size: 70px;
  padding-top: 15%;
  vertical-align: middle;
  font-weight: lighter;
}
.bottom {
  text-align: center;
  font-size: 30px;
  padding-top: 2%;
  vertical-align: middle;
  font-weight: lighter;
}
.copyright {
  text-align: center;
  font-size: 22px;
  padding-top: 16%;
  vertical-align: middle;
  font-weight: lighter;
}
