h1 {
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    color: #464866;
    
}
p {
    font-family: 'Roboto Slab', serif;
    color: #25274d;
    display: inline;
}
a {
    display: inline; /* the default for span */
  }